All 6 joins.sql
Boat,Sailors,Resrves Ques.sql
constraints.sql

day 3.sql
day 5.sql
day 6.sql
day6.sql
day7.sql
dummy's   joins.sql
First Test practice.sql
in out limit.sql
ques of joins.sql
self join ques.sql
Self join.sql
task.sql
.gitignore